

section#about.module.m-t-60.p-t-0.p-b-0(data-background=path.images + 'content/about.jpg')
  .container-fluid
    .row.relative
      .col-sm-12.col-md-8.col-lg-4.col-bg
        h2.module-title.font-alt about me
        p.module-subtitle.font-inc
          | Hi! I'm a visual artist and designer currently living in the Portland area.

        p
          | I received a bachelor’s degree in the National Academy School of Fine Arts of Havana, Cuba and studied in their University of Arts for another 3 years.
        p
          | I like to discover and experiment new things, and I try to be creative in every possible way in my life. I consider myself as self-motivated, independent, jolly... and I'm passionate. I try to learn at least one thing every day.
        p
          | That's the brief "me", but there is a lot more! If you want to get in touch I'll be happy to hear from you. :)



        include social-links
