include ../_layout/setup/path

section#banner.module-hero.module-fade.bg-dark(style={"background-image":  `url(${path.images}overlay.png), url(${path.images}content/yolanda.jpg)`})
  .hs-caption.container
    .caption-content
      .hs-title-size-3.font-alt.m-b-30
        | Hey, I'm Yolanda
      .hs-title-size-1.font-inc
        | A #[strong visual artist] &amp; #[strong graphic designer].
