nav.navbar.navbar-custom.navbar-transparent.navbar-fixed-top(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#custom-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #custom-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(href='#portfolio') Portfolio
        li: a(href='#about') About
        li: a(href='#contact') Contact
