-
  var metadata = {
    viewport: "width=device-width, initial-scale=1.0",
    description: "I'm a visual artist and graphic designer, living in Portland, OR",
    keywords: "visual artist, graphic designer, fine arts, sculpture, illustrator, 3D modeling, painter, hand drawing, clay modeler, portland, oregon, havana, cuba",
    author: "@zorphdark"
  }

meta(charset='UTF-8')
title Yolanda's portfolio

for content, name in metadata
  meta(name=name, content=content)
