-
  var categories = {
    illustration: "Illustration",
    drawing: "Drawing",
    painting: "Painting",
    photography: "Photography",
    modeling: "Modeling",
    // cars: "Car graphics"
  }

-
  var portfolio = [
    // { title: "", format: "", categories: [] },
    { title: "Cascade", format: "jpg", categories: ["painting"] },
    { title: "Wheat field", format: "jpg", categories: ["painting"] },
    { title: "Seashells", format: "jpg", categories: ["painting"] },
    { title: "Big Purple Mountain", format: "jpg", categories: ["painting"] },
    { title: "Eruption", format: "jpg", categories: ["painting"] },
    { title: "Mist", format: "jpg", categories: ["painting"] },
    { title: "Hypatia", format: "jpg", categories: ["painting"] },
    { title: "Lake", format: "jpg", categories: ["painting"] },
    { title: "Dog", format: "jpg", categories: ["painting"] },

    { title: "Pale flowers", format: "jpg", categories: ["photography"] },
    { title: "Sleeping Romance", format: "jpg", categories: ["photography"] },
    { title: "Web", format: "jpg", categories: ["photography"] },
    { title: "Sanctuary", format: "jpg", categories: ["photography"] },
    { title: "Monet", format: "jpg", categories: ["photography"] },
    { title: "Shadow on the Rock", format: "jpg", categories: ["photography"] },
    { title: "Keep Right", format: "jpg", categories: ["photography"] },
    { title: "A History of the World in 12 Maps", format: "jpg", categories: ["photography"] },
    { title: "Breathe", format: "jpg", categories: ["photography"] },
    { title: "Rellenando espacios", format: "jpg", categories: ["photography"] },

    { title: "Nina", format: "jpg", categories: ["drawing"] },
    { title: "Woman cartoon", format: "jpg", categories: ["drawing"] },
    { title: "Woman portrait", format: "jpg", categories: ["drawing"] },
    { title: "View", format: "jpg", categories: ["drawing"] },
    { title: "Are you talking to me?", filename: "talking", format: "jpg", categories: ["drawing"] },
    { title: "David character", format: "jpg", categories: ["drawing"] },
    { title: "Avina character", format: "jpg", categories: ["drawing"] },
    { title: "Mystery", format: "jpg", categories: ["drawing"] },
    { title: "I'm super-mega-awesome", format: "jpg", categories: ["drawing"] },
    { title: "Manzano", format: "jpg", categories: ["drawing","photography"] },
    { title: "Character", format: "jpg", categories: ["drawing"] },
    { title: "Man", format: "jpg", categories: ["drawing"] },
    { title: "Girl with glasses", format: "jpg", categories: ["drawing"] },
    { title: "Asthma Drawing", format: "jpg", categories: ["drawing"] },
    { title: "El ratón y la guasasa", format: "jpg", categories: ["drawing","photography"] },

    { title: "Diagonal Building", format: "jpg", categories: ["illustration"] },
    { title: "Modern House", format: "jpg", categories: ["illustration"] },
    { title: "Futuristic House", format: "jpg", categories: ["illustration"] },
    { title: "Rio Cali Park", format: "jpg", categories: ["illustration"] },
    { title: "Spring", format: "jpg", categories: ["illustration","drawing"] },
    { title: "Patio interior", format: "jpg", categories: ["illustration"] },
    { title: "Warmer Post", format: "jpg", categories: ["illustration"] },
    { title: "Bridge", format: "jpg", categories: ["illustration"] },
    { title: "Fall", format: "jpg", categories: ["illustration"] },
    { title: "Ballena", format: "png", categories: ["illustration"] },
    { title: "Sydney", format: "png", categories: ["illustration"] },
    { title: "Portrait", format: "jpg", categories: ["illustration"] },
    { title: "Squirrel", format: "jpg", categories: ["illustration"] },
    { title: "Bailarina", format: "png", categories: ["illustration"] },
    { title: "Ida", format: "jpg", categories: ["illustration"] },
    { title: "Paper Craft", format: "jpg", categories: ["illustration"] },
    { title: "Puerquito", format: "jpg", categories: ["illustration"] },
    { title: "2 halves", format: "jpg", categories: ["illustration"] },
    { title: "Pío", format: "jpg", categories: ["illustration"] },
    { title: "New tenant", format: "jpg", categories: ["illustration"] },
    { title: "Moda Center", format: "jpg", categories: ["illustration"] },

    { title: "Clay set", format: "jpg", categories: ["modeling"] },
    { title: "Clay set (close-up B)", format: "jpg", categories: ["modeling"] },
    { title: "Clay set (close-up A)", format: "jpg", categories: ["modeling"] },
    { title: "Pink Little Thing", format: "jpg", categories: ["modeling"] },
    { title: "Clay Set Cat & Sardines", format: "jpg", categories: ["modeling"] },
    { title: "Clay Set Cat & Sardines_B", format: "jpg", categories: ["modeling"] },
    { title: "Sadness", format: "jpg", categories: ["modeling"] },
    { title: "Purple Hair", format: "jpg", categories: ["modeling"] },
    { title: "Ablit", format: "jpg", categories: ["modeling"] },
    { title: "Face", format: "jpg", categories: ["modeling"] },
    { title: "Women Clay sculpture (close-up)", format: "jpg", categories: ["modeling"] },
    { title: "Blue Face", format: "jpg", categories: ["modeling"] },

    // { title: "Ford Squares", format: "jpg", categories: ["cars"] },
    // { title: "Ford Cavalia", format: "jpg", categories: ["cars"] },
    // { title: "Ford Graffiti", format: "jpg", categories: ["cars"] },
    // { title: "Ford Vector", format: "jpg", categories: ["cars"] },
    // { title: "Ford Bear", format: "jpg", categories: ["cars"] },
  ]
