-
  var categories = {
    illustration: "Illustration",
    drawing: "Drawing",
    painting: "Painting",
    photography: "Photography",
    modeling: "Modeling",
    cars: "Vehicle wraps"
  }

-
  var portfolio = [
    { title: "", format: "", categories: [] },
    { title: "Cascade", format: "jpg", categories: ["painting"] },
    { title: "Wheat field", format: "jpg", categories: ["painting"] },
    { title: "Seashells", format: "jpg", categories: ["painting"] },
    { title: "Big Purple Mountain", format: "jpg", categories: ["painting"] },
    { title: "Eruption", format: "jpg", categories: ["painting"] },
    { title: "Mist", format: "jpg", categories: ["painting"] },
    { title: "Hypatia", format: "jpg", categories: ["painting"] },
    { title: "Lake", format: "jpg", categories: ["painting"] },
    { title: "Dog", format: "jpg", categories: ["painting"] },

    { title: "Pale flowers", format: "jpg", categories: ["photography"] },
    { title: "Sleeping Romance", format: "jpg", categories: ["photography"] },
    { title: "Web", format: "jpg", categories: ["photography"] },
    { title: "Sanctuary", format: "jpg", categories: ["photography"] },
    { title: "Monet", format: "jpg", categories: ["photography"] },
    { title: "Shadow on the Rock", format: "jpg", categories: ["photography"] },
    { title: "A History of the World in 12 Maps", format: "jpg", categories: ["photography"] },
    { title: "Breathe", format: "jpg", categories: ["photography"] },
    { title: "Rellenando espacios", format: "jpg", categories: ["photography"] },

    { title: "Nina", format: "jpg", categories: ["drawing"] },
    { title: "Woman cartoon", format: "jpg", categories: ["drawing"] },
    { title: "Woman portrait", format: "jpg", categories: ["drawing"] },
    { title: "View", format: "jpg", categories: ["drawing"] },
    { title: "Are you talking to me?", filename: "talking", format: "jpg", categories: ["drawing"] },
    { title: "David character", format: "jpg", categories: ["drawing"] },
    { title: "Avina character", format: "jpg", categories: ["drawing"] },
    { title: "Mystery", format: "jpg", categories: ["drawing"] },
    { title: "I'm super-mega-awesome", format: "jpg", categories: ["drawing"] },
    { title: "Manzano", format: "jpg", categories: ["drawing","photography"] },
    { title: "Character", format: "jpg", categories: ["drawing"] },
    { title: "Man", format: "jpg", categories: ["drawing"] },
    { title: "Girl with glasses", format: "jpg", categories: ["drawing"] },
    { title: "Asthma Drawing", format: "jpg", categories: ["drawing"] },
    { title: "El ratón y la guasasa", format: "jpg", categories: ["drawing","photography"] },



    { title: "Diagonal Building", format: "jpg", categories: ["illustration"] },
    { title: "Modern House", format: "jpg", categories: ["illustration"] },
    { title: "Futuristic House", format: "jpg", categories: ["illustration"] },
    { title: "Rio Cali Park", format: "jpg", categories: ["illustration"] },
    { title: "Spring", format: "jpg", categories: ["illustration","drawing"] },
    { title: "Patio interior", format: "jpg", categories: ["illustration"] },
    { title: "Crayfish", filename: "Cangrejo", format: "jpg", categories: ["illustration"] },
    { title: "Warmer Post", format: "jpg", categories: ["illustration"] },
    { title: "Bridge", format: "jpg", categories: ["illustration"] },
    { title: "Fall", format: "jpg", categories: ["illustration"] },
    { title: "Ballena", format: "png", categories: ["illustration"] },
    { title: "Portrait", format: "jpg", categories: ["illustration"] },
    { title: "Squirrel", format: "jpg", categories: ["illustration"] },   
    { title: "Girl", filename: "Chinita", format: "jpg", categories: ["illustration"] },
    { title: "Bailarina", format: "png", categories: ["illustration"] },
    { title: "Toast", filename: "Brindis", format: "jpg", categories: ["illustration"] },
    { title: "Ida", format: "jpg", categories: ["illustration"] },
    { title: "Paper Craft", format: "jpg", categories: ["illustration"] },
    { title: "Puerquito", format: "jpg", categories: ["illustration"] },
    { title: "Seahorse", filename: "Caballito", format: "jpg", categories: ["illustration"] },
    { title: "2 halves", format: "jpg", categories: ["illustration"] },
    { title: "Pío", format: "jpg", categories: ["illustration"] },
    { title: "New tenant", format: "jpg", categories: ["illustration"] },
    { title: "Moda Center", format: "jpg", categories: ["illustration"] },
     

    { title: "Earthworms", filename: "Lombrices", format: "jpg", categories: ["illustration"] },
    { title: "Dino",  format: "jpg",categories: ["il lustration"] },
    { title: "Robinhood", format: "jpg", categories: ["illustration"] },
    { title: "Nose", filename: "Nariz", format: "jpg", categories: ["illustration"] },
    { title: "Pollo Pillo", format: "jpg", categories: ["illustration"] },
    { title: "Matthew", format: "jpg", categories: ["illustration"] },
    { title: "Fox", filename: "Zorro", format: "jpg", categories: ["illustration"] },

    { title: "Clay set", format: "jpg", categories: ["modeling"] },
    { title: "Clay set (close-up B)", format: "jpg", categories: ["modeling"] },
    { title: "Clay set (close-up A)", format: "jpg", categories: ["modeling"] },
    { title: "Pink Little Thing", format: "jpg", categories: ["modeling"] },
    { title: "Clay Set Cat & Sardines", format: "jpg", categories: ["modeling"] },
    { title: "Clay Set Cat & Sardines_B", format: "jpg", categories: ["modeling"] },
    { title: "Sadness", format: "jpg", categories: ["modeling"] },
    { title: "Purple Hair", format: "jpg", categories: ["modeling"] },
    { title: "Ablit", format: "jpg", categories: ["modeling"] },
    { title: "Face", format: "jpg", categories: ["modeling"] },
    { title: "Women Clay sculpture (close-up)", format: "jpg", categories: ["modeling"] },
    { title: "Blue Face", format: "jpg", categories: ["modeling"] },

    { title: "Boneyard", filename:"vehicles/Boneyard-Connect-001", format: "jpg", categories: ["cars"] },
    { title: "Columbia Distribution", filename:"vehicles/Columbia-001", format: "jpg", categories: ["cars"] },
    { title: "EZ Propane", filename:"vehicles/EZ-PROPANE-001", format: "jpg", categories: ["cars"] },
    { title: "FAT Cupcake 1", filename:"vehicles/FAT Cupcake-001", format: "jpg", categories: ["cars"] },
    { title: "FAT Cupcake 2", filename:"vehicles/FAT Cupcake-003", format: "jpg", categories: ["cars"] },
    { title: "Filipina Cuisine 1", filename:"vehicles/Filipina Cuisine-001", format: "jpg", categories: ["cars"] },
    { title: "Filipina Cuisine 2", filename:"vehicles/Filipina Cuisine-002", format: "jpg", categories: ["cars"] },
    { title: "Ford", filename:"vehicles/Ford Graffiti", format: "jpg", categories: ["cars"] },
    { title: "Judy Mabry", filename:"vehicles/JUDY MABRY-001", format: "jpg", categories: ["cars"] },
    { title: "MasterCraft", filename:"vehicles/MasterCraft-001", format: "jpg", categories: ["cars"] },
    { title: "Mr Furnace", filename:"vehicles/Mr Furnace-001", format: "jpg", categories: ["cars"] },
    { title: "Mr Furnace", filename:"vehicles/Mr Furnace-002", format: "jpg", categories: ["cars"] },
    { title: "North Fork", filename:"vehicles/North Fork-001", format: "jpg", categories: ["cars"] },
    { title: "NorthSide Ford 1", filename:"vehicles/NorthSide Ford-001", format: "jpg", categories: ["cars"] },
    { title: "NorthSide Ford 2", filename:"vehicles/NorthSide Ford-002", format: "jpg", categories: ["cars"] },
    { title: "Oregon Brewing 1", filename:"vehicles/Oregon Brewing-001", format: "jpg", categories: ["cars"] },
    { title: "Oregon Brewing 2", filename:"vehicles/Oregon Brewing-002", format: "jpg", categories: ["cars"] },
    { title: "Pacific Lifestyle Furniture 1", filename:"vehicles/Pacific Lifestyle Furniture-001", format: "jpg", categories: ["cars"] },
    { title: "Pacific Lifestyle Furniture 2", filename:"vehicles/Pacific Lifestyle Furniture-002", format: "jpg", categories: ["cars"] },
    { title: "Salsas Locas", filename:"vehicles/Salsas Locas-001", format: "jpg", categories: ["cars"] },
    { title: "Young Electric 1", filename:"vehicles/Young Electric-001", format: "jpg", categories: ["cars"] },
    { title: "Young Electric 2", filename:"vehicles/Young Electric-002", format: "jpg", categories: ["cars"] },
    { title: "Yes Handyman 1", filename:"vehicles/Yes Handyman-001", format: "jpg", categories: ["cars"] },
    { title: "Yes Handyman 2", filename:"vehicles/Yes Handyman-002", format: "jpg", categories: ["cars"] },
    { title: "JM TECH", filename:"vehicles/JM TECH-01", format: "jpg", categories: ["cars"] },
    { title: "Riverbend 01", filename:"vehicles/Riverbend", format: "jpg", categories: ["cars"] },
    { title: "Riverbend 02", filename:"vehicles/Riverbend_02", format: "jpg", categories: ["cars"] },
    { title: "BIG FOOT", filename:"vehicles/BIG FOOT", format: "jpg", categories: ["cars"] },
    { title: "Urban Industrial 01", filename:"vehicles/Urban Industrial", format: "jpg", categories: ["cars"] },
    { title: "Urban Industrial 02", filename:"vehicles/Urban Industrial-003", format: "jpg", categories: ["cars"] },
    { title: "A&E Security", filename:"vehicles/A&E Security", format: "jpg", categories: ["cars"] },
  ]
