-
  var social = {
    "linkedin-square": "https://www.linkedin.com/in/yolandasantacruz",
    "instagram": "https://www.instagram.com/yola_sketchs/",
    "facebook-square": "https://www.facebook.com/yolahdez00",
    "tumblr-square": "https://yolahdez00.tumblr.com/",
  }
