-
  var social = {
    "linkedin": "https://www.linkedin.com/in/yolandasantacruz",
    "facebook": "https://www.facebook.com/yolahdez00",
    "tumblr": "http://blog.yolandahernandezsantacruz.com/",
    "pinterest": "https://www.pinterest.com/yolahdez00/",
    "google-plus": "https://plus.google.com/103258741251856942736"
  }
